<script type="text/javascript">
    $$.requireCSS(
        `${APP_CONSTANTS.APP_PATH}/components/create-feedback/create-feedback.css`
    );
</script>
<div class="modal">
    <div class="modal__content">
        <div class="modal__header-left">
            <h1>Add Feedback</h1>
        </div>

        <div class="modal__body">
            <div class="form__group">
                <label for="reporter">Your Name</label>
                <input type="text" id="reporter" class="form__input">
            </div>
            <div class="form__group">
                <label for="title">Feedback Title</label>
                <input type="text" id="title" class="form__input">
            </div>
            <div class="form__group">
                <label for="text">Feedback Detail</label>
                <textarea id="details" class="form__input"></textarea>
            </div>
        </div>

        <div class="modal__footer">
            <button class="modal__button feedback__button" id="add-button"
                onclick='monkshu_env.components["create-feedback"].createFeedback()'>
                Add feedback
            </button>
            <button class="modal__button feedback__button modal__button_cancel" id="cancel-button"
                onclick='monkshu_env.components["create-feedback"].homePage()'>
                Cancel
            </button>
        </div>
    </div>
</div