<script type="text/javascript">
    $$.requireCSS(
        `${APP_CONSTANTS.APP_PATH}/components/edit-feedback/edit-feedback.css`
    );
</script>
<div class="modal">
    {{#feedback}}
    <div class="modal__content">
        <div class="modal__header-left">
            <h1>Edit Feedback</h1>
        </div>

        <div class="modal__body">
            <div class="form__group">
                <label for="name" class="label">Your Name</label>
                <input type="text" id="reporter" class="form__input" value={{reporter}}>
            </div>
            <div class="form__group">
                <label for="title" class="label">Feedback Title</label>
                <input type="text" id="title" class="form__input" value={{title}}>
            </div>
            <div class="form__group">
                <label for="text" class="label">Feedback Detail</label>
                <textarea id="details" class="form__input">{{details}}</textarea>
            </div>
        </div>

        <div class="modal__footer">
            <button class="modal__button feedback__button" id="edit-button"
                onclick='monkshu_env.components["edit-feedback"].editFeedback()'>
                Update Feedback
            </button>
            <button class="modal__button feedback__button modal__button_cancel" id="cancel-button"
                onclick='monkshu_env.components["edit-feedback"].homePage()'>
                Cancel
            </button>
        </div>
    </div>
    {{/feedback}}
</div