<script type="text/javascript">
  $$.requireCSS(
    `${APP_CONSTANTS.APP_PATH}/components/feedback-lists/feedback-lists.css`
  );
</script>
<div class="feedback__list" id="feedback-list">
  {{#feedbacks}}
  <div class="feedback__item item-animation">
    <div class="feedback__details">
      <h4 class="feedback__reporter" id="feedback-reporter">{{reporter}}</h4>
      <h5 class="feedback__title" id="feedback-title">{{title}}</h5>
      <p class="feedback__details" id="feedback-details">{{details}}</p>
    </div>
    <div class="feedback__buttons">
      <button
        class="feedback__button"
        id="edit-button"
        onclick='monkshu_env.components["feedback-lists"].loadEditFeedBackPage("{{_id}}")'
      >
        Edit
      </button>
      <button
        class="feedback__button"
        id="delete-button"
        onclick='monkshu_env.components["feedback-lists"].deleteFeedback("{{_id}}")'
      >
        Delete
      </button>
    </div>
  </div>
  {{/feedbacks}}
</div>
