<script type="text/javascript">
    $$.requireCSS(
        `${APP_CONSTANTS.APP_PATH}/components/feedback-header/feedback-header.css`
    );
</script>

<div class="feedback__header" id="feedback-header">
    <div class="left__header">
        <h3>Feedbacks</h3>
    </div>

    <div class="right__header">
        <button class="feedback__button" id="add-feedback-button"
            onclick='monkshu_env.components["feedback-header"].loadCreateFeedbackPage()'>
            + Add Feedback
        </button>
    </div>
</div>